@{
    ViewData["Title"] = "Razor";
}

<div class="text-center">
    <h1 class="display-4">Razor syntax</h1>
</div>

<p>
    <b>Razor</b> - технология расширения HTML-разметки до инструментария языка программирования. Дополнение
    средств HTML переменными, выражениями (в т.ч. которыми содержат переменные), условиями и циклами. Основным символом,
    которые означает Razor-вставки является <code>"&commat;"</code>, соответственно, сам символ следует заменять на HTML-сущность
    <code>&amp;commat;</code>. Исключение составляют правильно сформированные e-mail адреса по форме <code>user@i.ua</code>
</p>
<h2>Выражения</h2>
<p>
    Выражения (expressions) - это инструкции (instructions), которые имеют результат. Razor - выражения предполагают включение результата в состав
    HTML разметки в том месте, где они обозначены. Выражение оформляется как <code>&commat;(выражение)</code>,
    например, <code>&commat;(2 + 3) = @(2 + 3)</code>
</p>
<h2>Инструкции</h2>
<p>
    Инструкции (statements) обычно отделяют от выражений именно по отсутсвию результатов. Их оформляют в блоки 
    <code>&commat;{statements}</code>. Таким образом также оглашаются переменные.
    <pre>
    &commat;{
            string[] strings = { "String1", "String2", "String3", "String4", "String5" };
    }
    </pre>
</p>
@{
    string[] strings = { "String1", "String2", "String3", "String4", "String5" };
}
<p>
    Вывод переменных можно выполнять в сокращенной форме выражений - без круглых скобок:
    <code> &commat;strings[0] = &commat;(strings[0]) = @strings[0] </code>. Но добавление операторов уже будет
    требовать наличие скобок.<br/>
    <code> &commat;strings[0] + "!" = @strings[0] + "!" </code><br/>
    <code> &commat;(strings[0] + "!") = @(strings[0] + "!") </code>
</p>
<h2>Инструкции управления</h2>
<p>
    К инструкциям управления (control instructions) относятся инструкции ветвления (if / if-else / switch) и инструкции
    повторения (for / foreach / while / do-while)
</p>
@if (strings.Length > 3)
{
    <b>Размер массива Strings больше, чем 3</b>
}
else
{
    <b>Размер массива strings не больше, чем 3</b>
}
<ul>
    @foreach (string str in strings)
    {
        if (str.EndsWith('3'))
        {
            <li>@(str + "!!")</li>
        }
        else
        {
            <li>@str</li>
        }
    }
</ul>
<h2>Общие рекомендации</h2>
<p>
    Средствами Razor следует пользоваться только для отображения данных из модели, которые приходят к предствлению. Не
    использовать для обращения к файлам, БД, переменных окружения или других программных переменных, сервисов и т.д.
</p>
